<!-- Post Card -->
<div class="card shadow mb-5">
  <img alt="Post Image" class="card-img-top" src="/assets/img/post-image.jpg">
  <div class="card-body">
    <h5 class="card-title">
      <span class="badge badge-pill badge-mint text-light mr-3">DUYURU</span>
      Minecraft sunucumuz açıldı!</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium recusandae
      repellendus sit enim ipsam, officia inventore magnam quasi repellat quaerat fugiat. Voluptatibus saepe in
      commodi itaque explicabo totam earum dolorem.</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span class="text-muted"><img src="/assets/img/head.png" alt="Steve" width="32" height="32" title="Steve"
        class="rounded mr-3"> 14 Mart 2018</span>
    <button class="btn btn-secondary" type="button">Devamını Oku ></button>
  </div>
</div>
<!-- Post Card End -->