// Import PanoUI

@import "../pano-ui/scss/main";
@import "node_modules/tippy.js/dist/tippy";

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

// Theme Styles
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 300px;
  background: url("/assets/img/header-bg.jpg") no-repeat center top;
  background-size: cover;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0) 66%, $light);
  }
}

.navbar {
  top: -50px;
  .nav-item.active {
    background: rgba($color: $black, $alpha: 0.1);
  }
}
