// Colors

$primary: #66bb6a;
$secondary: #4a89dc;
$light: #f5f7fa;
$white: #fff;
$black: #000;
$mint: #48cfad;
$sunflower: #f6bb42;
$bittersweet: #fc6e51;
$discord: #7289da;
$cream: #f5d76e;
$yellow: #ffce54;
$gray: #ccd1d9;
$dark: #656d78;

$body-bg: $light;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "white": $white,
  "black": $black,
  "mint": $mint,
  "sunflower": $sunflower,
  "bittersweet": $bittersweet,
  "discord": $discord,
  "cream": $cream,
  "yellow": $yellow,
  "gray": $gray,
  "dark": $dark
);

// Settings

$enable-shadows: true;
$enable-rounded: true;

// Fonts

$lead-font-weight: normal;
$font-family-base: "Lato", sans-serif;

// Headings

$headings-font-weight: bolder;

// Borders

$border-radius: 8px;
$border-radius-lg: 8px;
$border-radius-sm: 8px;

// Alerts

$alert-margin-bottom: 2rem;

// Dropdowns

$dropdown-box-shadow: 0 5px 5px $gray;

// Navbar

$navbar-dark-active-color: $sunflower;
$navbar-dark-color: $light;
$navbar-padding-y: 0.5rem;
$navbar-padding-x: 1.5rem;
$navbar-nav-link-padding-x: 1.5rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 300px;
  background: url("../img/header-bg.jpg") no-repeat center top;
  background-size: cover;
  box-shadow: 0 6px 0 0 inset rgba($color: $white, $alpha: 0.3);
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0) 66%, $light);
  }
}

.navbar {
  top: -50px;
  border-top: 10px solid rgba($color: $white, $alpha: 0.3);
  border-bottom: 1px inset rgba($color: $black, $alpha: 0.1);
  font-weight: 900;

  .nav-item.active {
    border-radius: $border-radius;
    background: rgba($color: $black, $alpha: 0.1);
    transition: 250ms;
  }

  .nav-item {
    transition: 250ms;

    &:hover {
      transition: 250ms;
      text-shadow: 0 0 6px $white;
      border-radius: $border-radius;
    }
  }
}

.shadow-primary {
  box-shadow: 0 20px 50px $primary;
}

.shadow-secondary {
  box-shadow: 0 20px 50px $secondary;
}

.shadow-sunflower {
  box-shadow: 0 20px 50px $sunflower;
}

.shadow-discord {
  box-shadow: 0 20px 50px $discord;
}

.shadow-yellow {
  box-shadow: 0 20px 50px $yellow;
}

.text-neon {
  text-shadow: 0 0 6px $white;
}

.border-lg {
  border-width: 6px !important;
}

#footer {
  padding: 0;
  margin: 0;
  height: 200px;
  margin-top: 2rem;
  background: url("../img/footer-bg.jpg") no-repeat bottom;
  background-size: cover;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient($light, rgba(0, 0, 0, 0));
  }
}
